@import "variables";

[v-cloak] {
  display: none;
}

.btn-danger-delete {
  line-height: 1.1;
}
//*** Badge
.badge-notify{
  //margin-bottom: 3px;
  height: inherit;
}
//*** Confirm Dialog
.dg-backdrop, .dg-container{
  z-index:9999 !important;
}
.dg-btn--cancel{
  background-color:map_get($colors,danger) !important;
}
.dg-btn--ok{
  border-color: transparent !important;
  color: map_get($colors,light) !important;
  background-color:map_get($colors,success) !important;
}
//--End Confirm Dialog
//*** Form
// -- Input
.input-error {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid map_get($colors, danger);
}
.text-error {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}
// -- Button
// -- -- Group Button
.group-button {
  position: relative;
  width: 200px;
  .group-button-item {
    margin-right: 5px;
    float: left;
  }
  .w-50 {
    width: 50%;
  }
}
// -- -- Save
.form-submit-button-tab {
  position: absolute;
  right: 20px;
  top: 0;
  button {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 760px) {
  .form-submit-button-tab {
    //content:" ";
    //display:block;
    //position:absolute;
    //top:0;left:0;right:0;bottom:0;
    //z-index:10;
  }
}
.form-submit-button {
  position: absolute;
  right: 20px;
  top: 2px;
  width: 20%;
  button {
    //width:100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  //Custom Size
  .w-50 {
    width: 50%;
  }
}
//-- Multi select
.multiselect-add-new-item-btn{
  @media (min-width: 760px){
    position: absolute;
    width: 40px;
    height: 38px;
    right: -35px;
    top: 0;
    padding: 4px 8px;
    text-align: center;
  }
}
//-- --End Form
//*** Line
.line{
  border-bottom:solid 1px;
  margin-bottom:10px;
  &.line-gray{
    border-bottom-color: map_get($colors,gray);
  }
}
//-- --End line
//*** Modal
.v--modal-overlay {
  z-index: 9999 !important;
}
//*** Margin
.margin-top-5{
  margin-top:5px !important;
}
.margin-left-5{
  margin-left: 5px !important;
}
//*** Panel
.panel-modal-fix-top{
  padding-top:30px;
}
//*** Portlet
.portlet-primary {
  .portlet-title,.tools {
    background-color: map_get($colors, primary);
    *{
      color: map_get($colors, light) !important;
    }
  }
}
//*** Table
.table td{
  vertical-align: middle !important;
}
.table-header-green{
  th{
    background-color:map_get($colors,table-green);
    border:1px solid map_get($colors,dark-light) !important;
  }
}
.table-result-green{
  td{
    background-color:map_get($colors,table-result-green) !important;
    border:1px solid map_get($colors,dark-light) !important;
  }
}
.table-total-result-green{
  td{
    background-color:map_get($colors,table-green);
    border:1px solid map_get($colors,dark-light) !important;
  }
}
.td-result-green{
  background-color:map_get($colors,table-green);
  border:1px solid map_get($colors,dark-light) !important;
}
.table-row-th-center{
  th{
    text-align: center;
  }
}
//-- --End Table
//*** Text
// -- Label
.label-status{
  font-size:1.2em;
}
// -- Warning
.text-warning {
  color: map_get($colors, warning);
}
.text-danger {
  color: map_get($colors, danger);
}
.text-success {
  color: map_get($colors, success);
}
.text-secondary {
  color:map_get($colors,secondary);
}
.text-light{
  color:map_get($colors,light);
}
.text-large{

}
//-- --End Text


